.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-area: main;
}


.button-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

button {
    height: 40px;
    border: none;
    color: #00d2c6;
    background-color: #1A1A1A;
    /* border: 1px solid #00d2c6; */
    border-radius: 45px;
    box-shadow: 0px 4px 12px #00d2c6;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    /* outline: none; */
    
}

button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(-7px);
  }

  .no-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    width: 700px;
    /* border: 1px solid; */
    /* border-radius: 10px; */
    border-radius: 50px;
    background: #1A1A1A;
    box-shadow:  35px 35px 10px #0d0d0d,
             -35px -10px 20px #272727;
  }

  .flame-image {
      height: 100%;
      width: 100%;
      border-radius: 50px;
  }