header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    border-bottom: solid 5px #C600FF;
}

header p{
    color: #0CF1FA;
}


.user-profile {
    display: flex;
    margin-left: 5%;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user-image {
    height: 115px;
    width: 100px;
    border-radius: 60%;
    border: solid 3px #C600FF;
}

progress {
    border: none;
    /* width: 400px;
    height: 60px; */
    border: 1px solid #C600FF;
    background: #0CF1FA;
  }
  
  progress {
    color: lightblue;
  }
  
  progress::-webkit-progress-value {
    background: lightblue;
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }
  
  progress::-webkit-progress-value {
    background: #0CF1FA;
  }
  
  progress::-webkit-progress-bar {
    background: black;
  }


h1 {
    color: #07F01E;
    font-size: 6rem;
    margin-bottom: 0;
    margin-top: 2%;
    /* box-shadow: 20px 20px 50px #00d2c6, 
            -30px -30px 60px #00ffff; */
}

.header-quote {
    color: #0CF1FA;
    margin-right: 5%;
}



