header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    border-bottom: solid 5px #C600FF;
}

header p{
    color: #00d2c6;
}


.user-profile {
    display: flex;
}

.user-image {
    height: 100px;
    width: 100px;
    border-radius: 60%;
    border: solid 3px #C600FF;
}

h1 {
    color: #07F01E;
    /* box-shadow: 20px 20px 50px #00d2c6, 
            -30px -30px 60px #00ffff; */
}

.header-quote {
    color: #00d2c6;   
}

