section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    grid-area: sidebar;
    border-right: solid 3px #C600FF;
    overflow-y: auto;
}

.made-title {
    color: #07F01E;
}

.made-drink-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 70%;
    border-radius: 50px;
    background: #1A1A1A;
    box-shadow:  35px 35px 10px #0d0d0d,
             -35px -10px 20px #272727;
    margin-bottom: 5%;
    margin-top: 5%;
}


/* .made-drink-card * {
    color: #07F01E;
} */

.made-image {
    height: 78%;
    width: 90%;
    border-radius: 50px; 
}

.no-made-image {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.no-drinks-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 75%;
    border-radius: 50px;
    background: #1A1A1A;
    box-shadow:  35px 35px 10px #0d0d0d,
             -35px -10px 20px #272727;
    /* margin-bottom: 10%; */
    margin-top: 5%;
}

.no-made-text {
    color: #0CF1FA;
    font-size: 2rem;
    margin: 10%;
}

@media screen and (max-width: 900px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-around; */
        grid-area: sidebar;
        border-right: solid 3px #C600FF;
        overflow-y: visible;
    }

    .made-drink-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        width: 70%;
        border-radius: 50px;
        background: #1A1A1A;
        box-shadow:  35px 35px 10px #0d0d0d,
                 -35px -10px 20px #272727;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}