section {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: sidebar;
    border-right: solid 3px #C600FF;
    overflow: auto;
}

.made-title {
    color: #07F01E;
}

.made-drink-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 75%;
    border-radius: 50px;
    background: #1A1A1A;
    box-shadow:  35px 35px 10px #0d0d0d,
             -35px -10px 20px #272727;
    margin-bottom: 10%;
}

.made-image {
    height: 78%;
    width: 80%;
    border-radius: 50px;
}